.navbar-brand {
    display: flex;
    align-items: center;
  }
  .navbar-toggler {
    border: none;
  }
  .navbar-collapse {
    justify-content: center;
  }
  .nav-item {
    margin: 0 10px;
  }
  .my-button {
    display: none;
  }
  .navbar-dark .navbar-collapse {
    background-color: transparent !important;
  }
  @media (min-width: 992px) { /* screen size bigger than or equal to 992px */
    .container {
      max-width: 760px; /* new max-width for bigger screens */
    }
  }
  
  @media only screen and (max-width: 768px) {
    .navbar-brand {
      justify-content: center;
    }
    .navbar-collapse {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #343a40;
      padding: 10px;
      text-align: center;
    }
    .navbar-collapse.show {
      display: block;
    }
    .navbar-toggler {
      display: block;
    }
    .my-button {
      display: block;
    }
    
    @font-face {
      font-family: 'Holberton School Icon';
      src: url('fonts/holberton_school-icon.eot');
      src: url('fonts/holberton_school-icon.eot?#iefix') format('embedded-opentype'),
           url('fonts/holberton_school-icon.woff') format('woff'),
           url('fonts/holberton_school-icon.ttf') format('truetype'),
           url('fonts/holberton_school-icon.svg#Holberton-School-Icon') format('svg');
      font-weight: normal;
      font-style: normal;
    }

    .holberton_school_sound:before {
      content: '\e001';
      font-family: 'Holberton School Icon';
    }
  
    .holberton_school_video:before {
      content: '\e002';
      font-family: 'Holberton School Icon';
    }
  
    .holberton_school_music:before {
      content: '\e003';
      font-family: 'Holberton School Icon';
    }
  
    .holberton_school_hearing:before {
      content: '\e004';
      font-family: 'Holberton School Icon';
    }
  }
  .pentagon {
    height: 16rem;
    position: relative;
}

.pentagon img {
    height: inherit;
    width: inherit;
}

.my-title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 5rem;
    font-weight: 600;
}

.pentagon2 {
    position: absolute;
    top: 68%;
    left: 50%;
    font-size: 23px;
    font-weight: 600;
    transform: translate(-50%, 0);
    width: 100%;
}
